/* ---------------------------------------------------
    Global STYLE
----------------------------------------------------- */
#icons a {
    color: #ffffff;
}

/* BACKGROUND */
.body {
    background-color: #343434;
    color: #ffffff;
    overflow-x: hidden;
}

#main{
    background-image: url('../img/mobile/bg-siviwembele.png');
    background-repeat: no-repeat;
    background-size:contain;
}


@media screen and (min-width: 992px) {
    #main{
        background-image: url('../img/bg-siviwembele.png');
        background-repeat: no-repeat;
        background-size:contain;
    }

    #about{
        background-image: url('../img/bg-about-background.png');
        background-repeat: no-repeat;
        background-size:contain;
    }
}

/* SCOLLER */
body::-webkit-scrollbar {
    width: 0.5em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
/* ---------------------------------------------------
    Navigation STYLE
----------------------------------------------------- */

.nav-link{
    font-size: 1.77rem;
}  

.navbar{
    position: absolute !important;
    top:0  !important;
    z-index: 100000 !important;
    width: 100%;
}

.navbar-nav{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 90vh;
    width: 100%;
    list-style-type: none;
    list-style-image: none;
    margin: auto !important;
}

.navbar-toggler {
    cursor: pointer;
    width: 4.375rem;
    opacity: 1!important;
    height: 4.375rem;
    position: relative;
    top:1rem;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: transparent !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
    position: relative;
    top: 8rem;
}

@media screen and (min-width: 992px){

    .navbar{
        right: 72px !important;
        top: 54px !important;
        height: 100vh  !important;
        width: 4.375rem  !important;
        background-color: transparent !important;
    }

    .navbar .navbar-toggler {
        height: 100%;
        text-align: center;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: .5rem;
        padding-bottom: .5rem;
    }

    .navbar .navbar-brand {
        display: none !important;
    }

    .navbar-collapse {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
        background-color: #000 !important;

    } 
    
    .navbar .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 55px !important;
    text-align: left;
    width: calc(50vw - 2.1875rem);
    right: calc(50% + -6.8125rem);
    z-index: -1;
    backdrop-filter: blur(20px);
    background-color: #000;
    opacity: .92;
}

.mr-auto, .mx-auto {
    top: 14rem;
}
}

/* ---------------------------------------------------
    Content STYLE
----------------------------------------------------- */
.cover h1 {
    font-size: 1.9rem;
    font-weight: bolder;
}

#about-heading{
    margin-top: 1rem;
    text-decoration: underline;
}



@media screen and (max-width:992px){
     /* HOME PAGE RELATED  */
    #s1-header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #s1-header #logo {
        display: none;
    }

    #s1-header #icons {
        text-align: left;
        grid-column: 1/1;
        grid-row: 2/4;
        padding-left:15px !important;

    }
    #s1-header #name{
        text-align: left;
        grid-column: 1/1;
        grid-row: 1/4;
        padding-top: 8.4rem;
        padding-left:15px !important;

    }

    #s1-header .cover {
        text-align: left;
        grid-column: 1/2;
        grid-row: 1/4;
        padding-top: 12rem;
        padding-left:15px !important;
    }

    #s1-header #focus-section{
        grid-column: 1/1;
        grid-row: 3/4;
        padding-top: 2rem;
        height: 25rem;
    }

    #s1-header #projects-section{
        display: none;
    }
    
    .fab {
        font-size: 2rem;
        cursor: pointer;
    }

    .fas {
        font-size: 2rem;
        cursor: pointer;
    }

    #s1-header #down {
        position: absolute;
        right:5%;
        bottom: 9%;
    }

    #focus-section p{
        font-size: 25px;
        line-height: 2em;
        width: 21rem;
        margin-left: 1rem;
    }

    #s1-header .container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* ABOUT PAGE RELATED  */
    #about-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    #about-body #first-section {
        text-align: left;
        grid-column: 1/1;
        grid-row: 1/4;
        padding-top: 6rem; 
    }

    #about-heading{
        margin-left: 1rem;
    }

    #first-section p{
        font-size: 22px;
        line-height: 1.5em;
        width:21rem;
        margin-left: 1rem;
    }

    #about-body #focus-section {
        text-align: left;
        grid-column: 1/1;
        grid-row: 2/2;
        padding-top: 66rem;
        width: 21rem;
    }

    #about-1{
        margin-left: 1.5rem;
    }

    #image-section{
        display: none;
    }

    #education-section{
        background-color: #ffffff;
        color: #343434;
        margin-top: 7rem;
        text-align: left;
        padding-top: 2rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 992px) {
    /* HOME PAGE RELATED  */

    .cover h1 {
        font-size: 4rem;
        font-weight: bolder;
    }

    #s1-header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }

    #s1-header #name{
        display: none;
    }

    #s1-header #logo {
        text-align: left;
        grid-column: 1/8;
        grid-row: 1/16;
    }

    #s1-header .cover {
        text-align: left;
        grid-column: 2/8;
        grid-row: 2/16;
        padding-top: 13%;
    }

    #s1-header #icons {
        text-align: left;
        grid-column: 1/8;
        grid-row: 3/16;
        padding-top: 23%;
    }


    #s1-header #focus-section{
        grid-column: 1/9;
        grid-row: 4/16;
        padding-top: 37%;
        height: 431px;
    }

    #s1-header #projects-section{
        grid-column: 1/9;
        grid-row: 5/16;
        padding-top: 48%;
    }

    #s1-header #project{
        display: none;
    }

    .fab {
        font-size: 2rem;
        cursor: pointer;
        width: fit-content;
    }

    .fas {
        font-size: 2rem;
        cursor: pointer;
        width: fit-content;
    }

    #s1-header #down {
        position: absolute;
        right:50%;
        bottom: 10%;
        text-decoration: none;
    }

    #focus-section p{
        font-size: 25px;
        line-height: 2em;
        padding-left: 28%;
        padding-right: 28%;

    }

    .col-sm{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* ABOUT PAGE RELATED  */

    #about-body {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(15, 1fr);
        
    }

    #about-body #first-section {
        text-align: left;
        grid-column: 1/8;
        grid-row: 1/16;
        padding-left: 4rem;
    }

    #about-img {
        display: none;
    }

    #about-heading{
        padding-top: 2rem;
        font-size: 64px;
    }

    #about-body #first-section p{
        font-size: 25px;
        width: 49rem;
        margin-top: 2rem;
    }

    #mobile-image-section{
        display: none;
    }

    #image-section{
        margin-top: 3rem;
    }

    #about-body #focus-section{
        grid-column: 1/9;
        grid-row: 4/16;
        padding-top: 30%;
        height: 431px;
    }

    #education-section{
        grid-column: 1/9;
        grid-row: 8/16;
        height: 1187px;
        background-color: #ffffff;
        color: #343434;
        margin-top: 6rem;
        text-align: left;
        padding: 4rem;
        font-size: 25px;
    }

    #education-section h3{
        font-size: 45px;
    }
    #education-section h6{
        font-size: 25px;
    }
}


/* ---------------------------------------------------
    Footer STYLE
----------------------------------------------------- */

#footer{
    background-color: black;
    height: 157px;
}

#up{
    margin-left:50%;
    margin-top: 1rem;
    text-decoration: none;
    color: #ffffff;
}













